# Data directories
ALKIS/
ALKIS_TEST/

# Output files
*.geoparquet
*.parquet
*.gpkg
*.fgb

# Environment & config
.env
/.idea/

# Cache directories  
.mypy_cache/
.ruff_cache/
**/.ipynb_checkpoints/
__pycache__/
.coverage

# Virtual environment
/.venv/
